@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Cal+Sans&family=Outfit:wght@100..900&family=Righteous&display=swap');

@import 'tailwindcss';

* {
    font-family: 'Outfit', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rich-text h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.rich-text h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.rich-text p {
  margin-bottom: 1rem;
  line-height: 1.7;
}


.righteous-regular {
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cal-sans-regular {
    font-family: 'Cal Sans', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

@theme {
    --color-primary: #5044e5;
}
